git+https://github.com/stanfordnlp/dspy.git
mkdocs-material
mkdocs-jupyter
mkdocs-material[imaging]
mkdocs-redirects
mkdocstrings
mkdocstrings-python
mkdocs-llmstxt>=0.3.0
urllib3==2.6.3
mistune==3.0.2
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
